@font-face {
    font-family: "Rubik";
    src: url("../public/fonts/Rubik/Rubik-VariableFont_wght.ttf")
        format("truetype");
}

html {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    color: white;
}

body {
    margin: 0;

    color: white;
    font-size: 16px;
    font-family:
        "Nunito",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src:
        local(""),
        url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}

.dragRegion {
    --wails-draggable: drag;
}
.mini-audio {
    background-color: green;
    /*clip-path: polygon(0 0, 0 100%, 30% 100%, 30% 60%, 100% 60%, 100% 0);*/
    clip-path: url(/frontend/public/Subtract.svg);
}
